<!DOCTYPE html>

<html>

<head>
    <title>ALUMNI CONNECT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="../../public/stylesheet/main.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">SOCIAL NETWORKING CONNECT</a>
            </div>
            <div class="collapse navbar-collapse">
                <div class="navbar-header">

                    <a class="navbar-brand" href="/alumni/">HOME</a>


                </div>
                <p>
                    <a class="btn btn-primary btn-sm" href="/alumni/search">Search Friends</a>
                </p>
                <ul class="nav navbar-nav navbar-right">
                    <%  if(!currentUser) {  %>
                        <li> <a href='/'>Login</a></li>
                        <li> <a href='/'>Sign Up</a></li>
                        <% } else{ %>

                            <li> <a href="/alumni/<%= currentUser._id%>">  Signed in as: <%= currentUser.username %> </a>
                                <li> <a class="btn btn-xs btn-warning" href="/alumni/<%= currentUser._id%>"> MY PROFILE %> </a>
                                </li>

                                <li> <a href='/logout'>Logout</a></li>
                                <%  } %>
                </ul>
            </div>
        </div>
    </nav>