<% include partials/header %>

    <div class="container">
        <div class="row">
            <h1 style="text-align: center;">Create Post</h1>
            <div style="width: 30%; margin: 30px auto;">
                <form action="/posts" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="name" placeholder="Post Title">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="image" placeholder="Post's image url">
                    </div>
                    <div class="form-group">
                        <input style="height:150px; width: 350px;" class="form-control" type="text" name="description" placeholder="Post Description" maxlength="1000">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                    </div>

                </form>
                <a href="/alumni">Go Back</a>
            </div>

        </div>
    </div>
    <% include partials/footer %>