<% include partials/header %>


<div class="container">
    <div class="row">
        <h1 style="text-align: center;">MY FRIENDS</h1>
        
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% console.log(friends) %>
            <% friends.forEach(function(friend){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail" style="height: 350px;">
                        <img class="padding" src="<%= friend.image %>" style=" padding-top: 27%;padding-bottom: 20%; padding-left: 10%;padding-right: 10%;">
                        <div class="caption" style=" position: absolute;bottom: 80px;left: 70px;">
                        <h4>
                            <%= friend.name %>
                        </h4>
                    </div>
                    <p>
                        <a href="/alumni/<%= friend._id%>" class="btn btn-primary" style=" position: absolute;bottom: 50px;left: 100px;">View Profile</a>
                    </p>
                </div>
            </div>
        <% }); %>
        <a href="/alumni">Go Back</a>
    </div>
</div>




<% include partials/footer %>